@use "sass:math";

a, .btn-link {
  color: darken($primary, 10%);
}

a.disabled {
  color: $text-color-light;
  cursor: default;
}

label {
  margin-bottom: .3rem;
  line-height: 1.1;

  &:not(.custom-control-label) {
    font-weight: $font-weight-bold;
  }
}

.btn {
  line-height: $btn-line-height;
}

.btn-primary.disabled {
  filter: saturate(0.5);
}

.form-control:focus {
  border-color: white;
  outline: $alternate solid 2px;
}
.form-group {
  margin-bottom: 1rem;
}

.custom-switch .custom-control-label {
  &::before {
    top: 0;
  }
  &::after {
    top: 2px;
  }
}

.custom-control-label {
  &::before, &::after {
    top: 0;
  }
}

.vs__dropdown-toggle {
  background-color: white;
}

.nav-link {
  font-size: 1rem;
}

.svg-inline--fa {
  vertical-align: -0.15em;
}

.responsive-indicator {
  position: fixed;
  right: 15px;
  top: 15px;
  background: red;
  color: white;
  font-size: 150%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
}

.btn-alternate {
  color: $text-color;
}
.bg-alternate {
  .form-control, button.dropdown-toggle, .custom-select {
    border-color: white;
  }
}

// Modal
.modal-header {
  background-color: $primary;
  color: white;
  padding: 1rem 1.5rem;

  .close {
    color: white;
    text-shadow: none;
  }
}
.modal-body {
  padding: 1.5rem;
}
.modal-footer {
  padding: 0 1.5rem 1.5rem;
}
