
$body-color: #3c3c3c;
$text-color: $body-color;
$text-color-light: #808080;

$color-1st: goldenrod;
$color-2nd: darkgray;
$color-3rd: #B87333;

$primary: #00baa7;
$alternate: #ffd42a;
$light: #f1f1f1;

$primary-variant: #00b4bf;
$primary-gradient: linear-gradient(120deg, $primary, $primary-variant);

$theme-colors: (
  "alternate": $alternate
);

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-display: 'Poetsen One', sans-serif;

$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   600;

$border-radius: 1px;
$border-radius-lg: 2px;
$border-radius-sm: 1px;

$form-group-margin-bottom: 1.25rem;
//$input-border-color: white;
$btn-line-height: 1.25;

$modal-header-border-width: 0;
$modal-content-border-width: 0;
$modal-content-border-radius: 2px;
$modal-header-padding: 1.25rem;
$modal-inner-padding: 1.25rem;
