
$body-color: #3c3c3c;
$text-color: $body-color;
$primary: #006fc5;
$light: #f1f1f1;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: .875rem;

$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   600;
