
label {
    margin-bottom: .25rem;
}

#lista-jogos ul.grid {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    justify-content: space-between;
}
#lista-jogos ul.grid li {
    list-style: none;
    text-align: center;
    padding: 5px;
}
#lista-jogos ul.grid li img {
    height: 100px;
    width: auto
}
#lista-jogos ul.grid li h3 {
    font-weight: normal;
    font-size: 15px;
    margin: .5rem 0 .3rem;
}

#lista-jogos .toolbar select[name=sort] {
    flex-grow: 2;
}

@media (min-width: 576px) {
    #lista-jogos ul.grid {
        grid-template-columns: repeat(3, 33.3%);
    }
}

@media (min-width: 768px) {
    #lista-jogos ul.grid {
        grid-template-columns: repeat(4, 25%);
    }
}

@media (min-width: 992px) {
    #lista-jogos ul.grid {
        grid-template-columns: repeat(5, 20%);
    }
}

@media (min-width: 1200px) {
    #lista-jogos ul.grid {
        grid-template-columns: repeat(6, 16.66%);
    }
}
