#lista-jogos {

  .filter-form {

    .form-group-nome {
      position: relative;
      .clear {
        position: absolute;
        right: 0;
        margin: -2rem 0.5rem 0 0;
        color: inherit;
        opacity: 0.6;

        &:hover, &:focus {
          opacity: 1;
        }
      }
    }
    .form-group-categoria {
      .dropdown {
        .dropdown-toggle {
          text-align: left;
          background: white;
          height: 38px;

          &::after {
            float: right;
            margin-top: .5rem;
          }
          &:hover, &:focus {
            color: $body-color;
          }
        }
        &.show > .dropdown-toggle {
          color: $body-color;
        }
      }
      .b-dropdown-form {
        padding: .25rem 1rem;
      }
    }
    .form-group-order {
      position: relative;
      .custom-switch {
        float: right;
        font-size: 90%;
      }
      select[name=sort] {
        flex-grow: 2;
      }
    }
  }

  .info-listagem {
    font-size: 0.9375rem;
    line-height: 1.25;
  }

  ul.grid-jogos {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    justify-content: space-between;

    @media (min-width: 576px) {
      grid-template-columns: repeat(3, 33.3%);
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 25%);
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(5, 20%);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(6, 16.66%);
    }

    li {
      list-style: none;
      border: 1px solid transparent;
      border-radius: 3px;
      &:hover {
        border-color: $border-color;
      }
    }
  }
}

#modal-jogo {
  .bgg-weight {
    text-align: center;
    font-size: 85%;

    label {
      text-transform: uppercase;
      color: $text-color-light;
      margin-bottom: 0;
    }
    &-value {
      display: block;
      line-height: 1.15;
    }
    .form-control {
      width: 5rem;
    }
  }
}
