#lista-partidas {

  .filter-form {
    .form-group-sorting {
      position: relative;
      .custom-switch {
        float: right;
        font-size: 90%;
      }
      select[name=sort] {
        flex-grow: 2;
      }
    }
    #input-jogo {
      .vs__dropdown-toggle {
        border-color: white;
        border-radius: $input-border-radius;
        min-height: 38px;
      }
    }
  }

  .jogador {
    white-space: nowrap;
    &.posicao-1 {
      font-weight: 600;
      .fa-medal {
        color: $color-1st;
      }
    }
    &.posicao-2 .fa-medal {
      color: $color-2nd;
    }
    &.posicao-3 .fa-medal {
      color: $color-3rd;
    }
  }

  .periodo-ativo {
    font-weight: bold;
    text-decoration: underline;
  }

}
